
:root {
    --theme_label_color                                 : #555555;
    --theme_label_alt_color                             : #000099;
    --theme_label_disabled_color                        : ##999999;
    --theme_label_background_color                      :transparent;
    --theme_label_text_align                            : left;
    --theme_label_overflow                              : hidden;
    --theme_label_font_family                           : "Roboto", sans-serif;
    --theme_label_small_font_size                       : small;
    --theme_label_medium_font_size                      : medium;
    --theme_label_large_font_size                       : large;

    --theme_notes_color                                 : #555555;
    --theme_notes_background_color                      : #EEEEEF;
    --theme_notes_editor_color                          : #555555;
    --theme_notes_box_shadow                            : none;

    --theme_link_color                                  : #555555;
    --theme_link_background_color                       : #EEEEEF;
    --theme_link_text_align                             : left;
    --theme_link_text_decoration                        : underline;
    --theme_link_overflow                               : hidden;
    --theme_link_font_family                            : "Roboto", sans-serif;
    --theme_link_font_size                              : medium;
    --theme_link_box_shadow                             : none;
    --theme_link_box_shadow_active                      : none;
    --theme_link_filter                                 : none;

    --theme_text_input_color                            : #555555;
    --theme_text_input_background_color                 : #EEEEEF;
    --theme_text_input_text_align                       : left;
    --theme_text_input_overflow                         : hidden;
    --theme_text_input_font_family                      : "Roboto", sans-serif;
    --theme_text_input_font_size                        : medium;
    --theme_text_input_box_shadow                       : none;
    --theme_text_input_box_shadow_active                : none;

    --theme_button_color                                : #555555;
    --theme_button_background_color                     : #EEEEEF;
    --theme_button_box_shadow                           : none;
    --theme_button_box_shadow_active                    : none;

    --theme_icon_button_color                           : #555555;
    --theme_icon_button_background_color                : #EEEEEF;
    --theme_icon_button_margin                          : 3px;
    --theme_icon_button_font_family                     : "Roboto", sans-serif;
    --theme_icon_button_border_radius                   : 50%;
    --theme_icon_button_box_shadow                      : none;
    --theme_icon_button_color_down                      : #EEEEEF;
    --theme_icon_button_background_color_down           : #555555;
    --theme_icon_button_box_shadow_down                 : none;

    --theme_background_color                        : #EEEEEF;
    --theme_background_color_menu_bar               : #EEEEEF;
    --theme_background_image_menu_bar               : linear-gradient(270deg, #020024 0%, #090979 35%, #0099b8 100%);
    --theme_background_color_status_bar             : #EEEEEF;
    --theme_background_color_button_down            : #555555;
    --theme_font_family                             : "Roboto", sans-serif;
    --theme_font_size_small                         : small;
    --theme_font_size_medium                        : medium;
    --theme_font_size_large                         : large;
    --theme_text_align_title                        : left;
    --theme_text_align_image_button                 : center;
    --theme_text_align_label                        : left;
    --theme_text_align_field                        : left;
    --theme_text_color_image_button                 : #0000FF;
    --theme_text_color_label                        : #555555;
    --theme_text_color_field                        : #555555;
    --theme_text_color_button_down                  : #EEEEEF;
    --theme_text_color_image_button_disabled        : #999999;
    --theme_text_color_label_disabled               : #999999;
    --theme_text_color_field_disabled               : #999999;
    --theme_text_color_slots_remaining              : #999999;
    --theme_border_radius_image_button_image        : 50%;
    --theme_border_image_button_image               : 2px solid white;
    --theme_buton_text_color                        : #555555;
    --theme_buton_background_color                  : #EEEEEF;
    --theme_buton_text_color_disabled               : #999999;
    --theme_buton_background_color_disabled         : #EEEEEF;
    --theme_box_shadow_menu_bar                     : none;
    --theme_box_shadow_image_button                 : none;
    --theme_box_shadow_image_button_active          : none;
    --theme_box_shadow_small                        : none;
    --theme_box_shadow_small_active                 : none;
    --theme_background_image                        : none;
    --theme_no_power_set                            : #999999;
    --theme_primary_power_set                       : blue;
    --theme_secondary_power_set                     : red;
    --theme_pool_power_set                          : yellow;
    --theme_epic_power_set                          : orange;
    --theme_inherent_power_set                      : green;
    --theme_power_set_background_color              : #DDDDDD;
    --theme_power_set_text_color                    : #555555;
}
